# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Autotools stuff
Makefile
Makefile.in
aclocal.m4
autom4te.cache
bin
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/*.mb
data/*.pc
depcomp
install-sh
libtool
ltmain.sh
m4
missing
src/cangjieconfig.h
stamp-h1
.deps
.libs
__db.*
