# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Autotools stuff
Makefile
Makefile.in
aclocal.m4
autom4te.cache
bin
config.h
config.h.in
config.log
config.status
configure
data
depcomp
install-sh
ltmain.sh
m4
missing
stamp-h1
.deps
__db.*
